* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    width:100vw;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding:5px;
    display:flex;
    flex:1;
    max-width: 60vw;
    min-width: 40vw;

    max-height: 80vh;
    min-height: 70vh;

    box-shadow:  2px 2px 7px 2px grey;
    
}

.col {
    
    position: relative;
    border: 3px solid pink;

}

h4 {
    position:absolute;
    top:40%;
    background-color:rgba(0, 0, 0, 0.236);
    height: 5vh;
    width:100%;
    display: flex;
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    font-size: 1.5em; /* Optional, adjust font size */
    
}

.col img {
    width:100%;
    height:100%;
    object-fit: cover;
}
#img {
    flex:10;
}

#form {
    flex: 11;
}